.venv/
venv/
ENV/
env/
**/__pycache__/
*.py[cod]
*$py.class
.env
data/
*.db
*.csv
notifications_*.json
certs/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bin
dist/
build/
*.spec
*.exe
*.bin
null-void-service/client_agent/dist/
null-void-service/client_agent/build/
agent_release.py
*_release.py